@font-face 
  font-family: 'Estonia'
  src: url('../fonts/Estonia-Regular.eot')
  src: local('../fonts/Estonia Regular'), local('../fonts/Estonia-Regular'), url('../fonts/Estonia-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/Estonia-Regular.woff2') format('woff2'),url('../fonts/Estonia-Regular.woff') format('woff'),url('../fonts/Estonia-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap

